# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#load csv into dataframe
load_csv = "../output_data/cities.csv"
cities_df = pd.read_csv(load_csv)
cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,ushuaia,-54.80,-68.30,50.00,69,75,18.34,AR,1587239810
1,1,victoria,22.29,114.16,75.00,88,33,8.01,HK,1587240323
2,2,chuy,-33.70,-53.46,66.63,82,18,7.23,UY,1587240487
3,3,rio gallegos,-51.62,-69.22,60.80,51,75,20.80,AR,1587240086
4,4,mar del plata,-38.00,-57.56,75.20,50,1,16.11,AR,1587240201

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Store latitude and longitude in locations
locations1 = cities_df[["Lat", "Lng"]]

# Fill NaN values and convert to float
humidity = cities_df["Humidity"].astype(float)

#For max intensity in the heat map, try setting it to the highest humidity found in the data set.
max_humidity = max(humidity)
new_humidity = [max_humidity for x in humidity]

# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations1, weights=new_humidity, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
#Create new df with below criteria:
#* A max temperature lower than 80 degrees but higher than 70.
#* Wind speed less than 10 mph.
#* Zero cloudiness.

ideal_weather_df=cities_df.loc[(cities_df['Max Temp']>70) & (cities_df['Max Temp']<80) 
                               & (cities_df['Wind Speed'] < 10) 
                               & (cities_df['Cloudiness']==0)]

ideal_weather_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
224,248,safaga,26.73,33.94,73.40,53,0,8.05,EG,1587240546
253,283,harur,12.07,78.50,74.93,73,0,1.72,IN,1587240552
331,366,atar,20.52,-13.05,74.98,19,0,8.32,MR,1587240568
484,533,plettenberg bay,-34.05,23.37,71.33,33,0,5.73,ZA,1587240609
535,587,qena,26.16,32.72,75.20,41,0,4.70,EG,1587240620

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
#Store ideal_weather_df into variable named hotel_df.
hotel_df=ideal_weather_df.copy()

#Add a "Hotel Name" column to the DataFrame.
hotel_df['Hotel Name'] = ""

#Display Hotel df
hotel_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
224,248,safaga,26.73,33.94,73.40,53,0,8.05,EG,1587240546,
253,283,harur,12.07,78.50,74.93,73,0,1.72,IN,1587240552,
331,366,atar,20.52,-13.05,74.98,19,0,8.32,MR,1587240568,
484,533,plettenberg bay,-34.05,23.37,71.33,33,0,5.73,ZA,1587240609,
535,587,qena,26.16,32.72,75.20,41,0,4.70,EG,1587240620,

In [6]:
#Parametize for API call
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius":5000, #Set parameters to search for hotels with 5000 meters
    "type": "lodging",
    "key": g_key,
}
# use iterrows to iterate through pandas dataframe to get hotels within 5000 meters of the ideal cities
for index, row in hotel_df.iterrows():

    # get latitude & longitude from df
    lat = row['Lat']
    lng = row['Lng']

    # add location to params dict
    params['location'] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for {row['City']}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    try:
        print(f"Closest hotel for {row['City']} is {results[0]['name']}.")
        #Store first Hotel Name in df
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
        
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

#Data clea up - Set NAN as Hotel Name where no hotel is present within 5000 m radius and drop those records
hotel_df['Hotel Name'] = hotel_df['Hotel Name'].replace('', np.nan)
hotel_df = hotel_df.dropna()

#Display final df
hotel_df

Retrieving Results for safaga.
Closest hotel for safaga is Lamar Resort Abu Soma.
------------
Retrieving Results for harur.
Closest hotel for harur is sangil roadways.
------------
Retrieving Results for atar.
Closest hotel for atar is Oumou Elghoura.
------------
Retrieving Results for plettenberg bay.
Closest hotel for plettenberg bay is Thanda Vista B&B.
------------
Retrieving Results for qena.
Closest hotel for qena is Grand hotel "Quena".
------------

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
224,248,safaga,26.73,33.94,73.40,53,0,8.05,EG,1587240546,Lamar Resort Abu Soma
253,283,harur,12.07,78.50,74.93,73,0,1.72,IN,1587240552,sangil roadways
331,366,atar,20.52,-13.05,74.98,19,0,8.32,MR,1587240568,Oumou Elghoura
484,533,plettenberg bay,-34.05,23.37,71.33,33,0,5.73,ZA,1587240609,Thanda Vista B&B
535,587,qena,26.16,32.72,75.20,41,0,4.70,EG,1587240620,"Grand hotel ""Quena"""

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [8]:
# Add marker layer ontop of heat map

#Hotel Marker
hotel_markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

#Add Marker Layer
fig.add_layer(hotel_markers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))